{{ $permalink := .Permalink }}
<div class="card">
    <div class="card-image">
        <figure class="image is-3by2">
            {{ with .Params.images }}
            <a href="{{ $permalink }}"><img src="{{ index . 0 }}" alt=""></a>
            {{ end }}
        </figure>
    </div>
    <div class="card-content">
        <a class="title is-5" href="{{ .Permalink }}">{{ .Title }}</a>
        <div class="content">
            {{ .Description }}
        </div>
    </div>
    <div class="card-content">
        <a href="{{ $permalink }}" class="button is-small is-info is-light">Lees Meer</a>
    </div>
</div>