{{/*  <section class="section is-small">
        <span class="icon-text has-text-success">
            <span class="icon">
              <i class="fas fa-check-square"></i>
            </span>
            <span>Opmerking</span>
          </span>
        <div class="notification subtitle is-primary is-light box">
            {{ .Inner | markdownify }}
        </div>
</section>  */}}

<section class="message is-success">
  <div class="message-header">
    <p>Opmerking</p>
  </div>
  <div class="message-body">
    {{ .Inner | markdownify }}
  </div>
</section>