@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');

:root {
    /* main */
    --main-font: 'Poppins', sans-serif;
    --font-size: 1.1em;
    --font-color: #012068;
    --line-height: 1.25;
    --main-content-width: 1024px;
    --body-background: #efefef;

    /* footer */
    --footer-color-background: #3e8ed0;
    --footer-font-color: #fff;
    --footer-a-hoover: #e5e5e5;
}

.logo h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--main-font);
    font-size: var(--font-size);
    color: var(--font-color);
    line-height: var(--line-height);
    background-color: var(--body-background);
}

main {
    flex: 1;
}

.max-800px {
    max-width: var(--main-content-width);
}

.author-image {
    object-fit: cover;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    width: 150px;
}

.title-image {
    padding-bottom: 2em;
}

.card {
    height: 100%;
}

.footer {
    background-color: var(--footer-color-background);
    color: var(--footer-font-color);
}

.footer strong {
    color: var(--footer-font-color);
    font-weight: 900;
}

.footer a {
    color: var(--footer-font-color);
}

.footer a:hover {
    color: var(--footer-a-hoover);
    text-decoration: underline;
}